# Node / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# GitHub Actions secrets
.github/workflows/*.secret

# 기타 개인 환경
.env
.env.*

# 결과물 (빌드, 배포용 아티팩트)
dist/
build/
